/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

header{
  height: 10vh;
  padding: 0.5rem 3rem;
}

form{
  padding: 0 3rem;
  display: flex;
  justify-content: center;
}