/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

header{
  height: 10vh;
  padding: 0.5rem 3rem;
}

form{
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.top-message{
  font-size: $font600;
}

th{
  border: 1px solid gray;
  width: calc( 63vw / 7);
  height: 2.5rem;
  font-size: $font600;
}

// 画像// 画像
.image-section{
  & img{
    height: 100%;
  }

}
.message-with-image{
  font-size: $font600;
}