/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.top-message{
  font-size: $font960;
}

th{
  width: calc( 49vw / 7);
  font-size: $font960;
}

// 画像// 画像
.popup-image{

  & p{
    font-size: $font960;
  }
}