@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Noto Sans JP', sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-block {
  display: block;
}

.btn-radius {
  border-radius: 2rem;
}

.display-none {
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header {
  height: 10vh;
  padding: 0.5rem 1rem;
  background-color: pink;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 0.9rem;
}

.top-container {
  height: 50vh;
  background-color: pink;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container .top-logo {
  font-size: 4rem;
  text-align: center;
}

.top-container .top-subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 1.5rem 1rem;
}

.top-container .top-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1rem;
}

.top-btn {
  display: inline-block;
  padding: 0.8rem;
  background-color: pink;
  border: 1px solid white;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 2rem;
}

.top-btn:hover {
  background-color: white;
  color: pink;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container {
  border: 1px solid;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 3px 10px 2px pink;
          box-shadow: 3px 3px 10px 2px pink;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

form h1 {
  text-align: center;
}

form label {
  display: block;
}

form input {
  display: block;
  margin-bottom: 1rem;
}

form button {
  margin: 1rem 0;
}

.form-btn {
  width: 100%;
  display: inline-block;
  padding: 0.8rem;
  background-color: pink;
  border: 1px solid white;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 2rem;
}

.form-btn:hover {
  background-color: white;
  color: pink;
  border: 1px solid pink;
}

.welcome {
  margin: 0.5rem 0;
}

.month {
  text-align: center;
  font-size: 2rem;
}

.calendar {
  margin: 1rem 0;
  border: 1px solid pink;
  padding: 1rem;
  -webkit-box-shadow: 3px 3px 10px 2px pink;
          box-shadow: 3px 3px 10px 2px pink;
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid gray;
  width: calc( 84vw / 7);
  height: calc( 2rem);
  text-align: center;
}

.day {
  background-color: lightgray;
}

.sunday {
  color: red;
}

.saturday {
  color: blue;
}

.album {
  font-size: 3rem;
}

.album i {
  background-color: lightgray;
  padding: 0.2rem 3rem;
}

.album span {
  font-size: 1rem;
}

.image-section {
  width: 100%;
  height: 100vh;
  padding: 5vh 5vw;
  border: 1px solid black;
  background: radial-gradient(#606060, #909090);
}

.image-section img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.message-with-img {
  margin: 0.5rem 0;
  color: white;
  font-weight: bold;
}

.nonda-btn-container {
  height: 100vh;
  width: 100vw;
  background-color: pink;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
  .top-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  header {
    height: 10vh;
    padding: 0.5rem 3rem;
  }
  form {
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-message {
    font-size: 1.2rem;
  }
  th {
    border: 1px solid gray;
    width: calc( 63vw / 7);
    height: 2.5rem;
    font-size: 1.2rem;
  }
  .image-section img {
    height: 100%;
  }
  .message-with-image {
    font-size: 1.2rem;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .top-message {
    font-size: 1.4rem;
  }
  th {
    width: calc( 49vw / 7);
    font-size: 1.4rem;
  }
  .popup-image p {
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .top-message {
    font-size: 1.5rem;
  }
  th {
    height: 3rem;
    font-size: 1.5rem;
  }
  .message-with-image {
    font-size: 1.5rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */